.navbar {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoutButton {
    background: none;
    cursor: pointer;
}

.brandLogo {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.logoText {
    margin-left: 0.7rem;
}

.navbarRight {
    display: flex;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin: 0 20px;
    margin-right: 10px;
}

@media (max-width: 500px) {
    .userName {
        display: none;
    }
}
