.spinner {
    margin-bottom: 20px;
    animation: spin 1s ease-in-out infinite;
}

.message {
    font-size: 22px;
    margin-top: 10px;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}
